h1 {
  margin-left: 15px;
}

h2 {
  margin-left: 15px;
  color: grey;
}

ul {
  margin: -15px;
  padding: 0;
}

li {
  list-style: none;
  line-height: 20px;
}

footer {
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}
.container {
  padding: 30px;
  margin-top: 100px;
  border: 1px solid rgb(86, 86, 86);
  border-radius: 10px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(242, 235, 243) 0%,
    rgb(234, 241, 249) 90.1%
  );
}

.current-weather-container {
  max-width: 600px;
}

.search-city {
  display: block;
  margin: 10px auto;
  margin-bottom: 20px;
  width: 300px;
}

.btn.btn-primary {
  display: block;
  margin: 10px auto;
  background-color: rgb(100, 99, 99);
  border-color: rgb(100, 99, 99);
  padding: 2px 20px;
}

.btn.btn-current-location {
  display: block;
  margin: 10px auto;
  background-color: rgb(100, 99, 99);
  border-color: rgb(100, 99, 99);
  color: white;
  padding: 2px 10px;
}

.rain,
.wind {
  color: grey;
  line-height: 20px;
}
