h1 {
  margin-left: 0;
  color: #142d4c;
}

h2 {
  margin-left: 15px;
  color: #142d4c;
}

ul {
  margin: 0;
  padding: 0;
  color: #142d4c;
}

li {
  list-style: none;
  line-height: 20px;
  text-transform: capitalize;
  margin-left: -30px;
}

footer {
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  margin-top: 60px;
  border: 1px solid rgb(86, 86, 86);
  border-radius: 10px;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.overview {
  margin-bottom: 20px;
}

.float-left,
.float-right {
  display: inline-block;
}

.current-temp img {
  margin-right: 5px;
  height: 60px;
  width: 60px;
  padding: 0;
  position: relative;
}

.current-temp .units {
  position: relative;
  font-size: 16px;
  top: -45px;
  margin-left: 105px;
}

.current-temp .active {
  color: #9fd3c7;
  cursor: default;
}

.current-temp .active:hover {
  text-decoration: none;
}

.search-city {
  display: block;
  margin: 10px auto;
  margin-bottom: 20px;
  width: 300px;
}

.btn.btn-primary {
  display: block;
  margin: 10px auto;
  background-color: rgb(100, 99, 99);
  border-color: rgb(100, 99, 99);
  padding: 2px 20px;
}

.btn.btn-current-location {
  display: block;
  margin: 10px auto;
  background-color: rgb(100, 99, 99);
  border-color: rgb(100, 99, 99);
  color: white;
  padding: 2px 10px;
}

.rain,
.wind {
  color: grey;
  line-height: 20px;
  color: #385170;
}
